* {
    margin: 0;
    padding: 0;
}
body {
    background: #354CA0;
}

.layout {
    position: relative;
    margin: 1em 0;
}

.layout h1{
    color: #FEFEFE;
    text-align: center;
    font-size: 2em;
}

.dadosInputSection {
    margin: 1em 1em;
    font-family: "Open Sans", sans-serif;
    width: 25%;
    height: 39em;
    padding: 1em;
    background: #212F64;
    border: 4px solid #182349;
    border-radius: 8px;
    position: absolute;
}

.campoNome {
    width: 60%;
    margin: 20px auto;
}

.campoNome label {
    margin: 5px 0;
    display: block;
    color: #FEFEFE;
}

.campoNome input{
    width: 100%;
    height: 2.5em;
    padding: 0 10px;
    background: #BCC5E3;
    border: 2px solid #212F64;
    border-radius: 8px;
    box-shadow: 4px 4px 2px #1C2239;
    color: #3d435a;
    font-size: 1em;
    font-weight: bold;

}

input::placeholder {
    color:#525B7C;
    font-size: 1em;
    font-weight: 100;
}

.campoSalvar {
    width: 20%;
    height: 3em;
    padding: 0 10px;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    background: #1C2239;
    color: #BCC5E3;
    margin: 5px 0 1em 17.7em;
    font-weight: bold; 
}

.campoSalvar:hover {
    height: 3.1em;
    background: #15192B;
    box-shadow: 4px 4px #1C2239;
}

.agendaSection {
    position: absolute;
    margin: 1em 0;
    height: 39em;
    right: 1em;
    font-family: "Open Sans", sans-serif;
    width: 68%;
    padding: 1em;
    background: #212F64;
    border: 4px solid #182349;
    border-radius: 8px;
}

.agendaTitulo {
    color: #FEFEFE;
    font-size: 2em;
    margin: 0.7 0;
    text-align: center;
}

table {
    width: 100%;
    
}

.agendaInfoDiv {
    border: 1px solid #FEFEFE;
    width: 85%;
    height: 26.8em;
    margin: 2.5em auto;
    background: #BCC5E3;
    border-radius: 8px;
    overflow-y: scroll;
    max-height: 26.8em;
    box-shadow: 10px 8px 5px#1C2239;
}

tr:nth-child(even) {
    background: #D9DDEA;
}

table, th, td {
    text-align: center;
    border: 1px solid #AEB7D3;
    border-collapse: collapse;
}

th, td {
    height: 2.4em;
}

.colunasTabela {
    color: #FEFEFE;
    font-size: 1.1em;
    background: #273875;
}

.colunasId {
    display: none;
}

.colunasDados {
    font-size: 1em;
    font-weight: bold;
    color: #3D435A;
    
}

.botaoEditar {
    background: #102061;
    border: 0;
    color: #FDFDFD;
    font-size: 1em;
    border-radius: 8px;
    padding: 2px 6px;
    margin: 5px 7px;
    width: 5em;
    height: 35px;
    font-weight: bold;
}

.botaoEditar:hover {
    background: #0C194b;
    height: 37px;
    color: #FDFDFD;
    box-shadow: 3px 2px #2D4AC0;
}

.botaoRemover {
    background: #C41F1F;
    border: 0;
    color: #FEFEFE;
    font-size: 1em;
    border-radius: 8px;
    padding: 2px 6px;
    margin: 5px 7px;
    width: 5em;
    height: 35px;
    font-weight: bold;
}

.botaoRemover:hover {
    background: #F10000;
    box-shadow: 3px 2px #C41F1F;
    height: 37px;
    color: #FEFEFE;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #FDFDFD;
}

::-webkit-scrollbar-thumb {
    background: #5C6383;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383C50;
}